[submodule "frontend"]
	path = frontend
	url = https://github.com/frasql/frontend-microservices.git
[submodule "frontend-microservices"]
	path = frontend-microservices
	url = https://github.com/frasql/frontend-microservices.git
